@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 98%; /* Light background */
    --foreground: 0 0% 14.9%; /* Dark text */

    --card: 0 0% 100%; /* Light card background */
    --card-foreground: 0 0% 14.9%; /* Dark text on card */

    --popover: 0 0% 100%; /* Light popover background */
    --popover-foreground: 0 0% 14.9%; /* Dark text on popover */

    --primary: 0 0% 9%; /* Dark primary color */
    --primary-foreground: 0 0% 98%; /* Light text on primary */

    --secondary: 0 0% 96.1%; /* Light secondary color */
    --secondary-foreground: 0 0% 9%; /* Dark text on secondary */

    --muted: 0 0% 96.1%; /* Light muted color */
    --muted-foreground: 0 0% 45.1%; /* Dark text on muted */

    --accent: 0 0% 96.1%; /* Light accent color */
    --accent-foreground: 0 0% 9%; /* Dark text on accent */

    --destructive: 0 62.8% 30.6%; /* Dark destructive color */
    --destructive-foreground: 0 0% 98%; /* Light text on destructive */

    --border: 0 0% 14.9%; /* Dark border color */
    --input: 0 0% 14.9%; /* Dark input background */
    --ring: 0 0% 3.9%; /* Light ring color */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%; /* Dark background */
    --foreground: 0 0% 98%; /* Light text */

    --card: 0 0% 3.9%; /* Dark card background */
    --card-foreground: 0 0% 98%; /* Light text on card */

    --popover: 0 0% 3.9%; /* Dark popover background */
    --popover-foreground: 0 0% 98%; /* Light text on popover */

    --primary: 0 0% 98%; /* Light primary color */
    --primary-foreground: 0 0% 9%; /* Dark text on primary */

    --secondary: 0 0% 14.9%; /* Dark secondary color */
    --secondary-foreground: 0 0% 98%; /* Light text on secondary */

    --muted: 0 0% 14.9%; /* Dark muted color */
    --muted-foreground: 0 0% 63.9%; /* Light text on muted */

    --accent: 0 0% 14.9%; /* Dark accent color */
    --accent-foreground: 0 0% 98%; /* Light text on accent */

    --destructive: 0 62.8% 30.6%; /* Dark destructive color */
    --destructive-foreground: 0 0% 98%; /* Light text on destructive */

    --border: 0 0% 14.9%; /* Dark border color */
    --input: 0 0% 14.9%; /* Dark input background */
    --ring: 0 0% 83.1%; /* Dark ring color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
